*{
    margin: 0;
    padding:0;
}
body{
    width: 80%;
    margin: 0 auto;
    background: darkgrey;
    
}
header{
    height: 150px;
}
#header-title{
    text-align: center;
    height: 50px;
    width: 80%;
    /* padding: 20px; */
    /* display: block; */
    margin: auto;
}
#timerBar{
    width: 500px;
    height: 200px;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.labels{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
/* .bttAndTimer{
    display: flex;
    justify-content: space-between;
} */
.timers{
    display: flex;
    align-self: center;
    /* justify-content: space-between; */
    justify-content: center;
    width: 150px;
    height: 35px;
    margin: auto;
    font-size: large;
    color: blue;
    font-weight: bold;
    border: 1px blue solid;
}
#wTimer{
    display: flex;
}
#bTimer{
    display: flex;
}
#bttBar{
    margin: auto;
    width: 170px;
    text-align: center;
    
}
.buttons{
    width: 50px;
}